.div{
    height: 852px;
    width: 393px;
    border: 1px solid black;
    background-color: yellow;
}
.inside-div1, .inside-div2, .inside-div3, .inside-div4, .inside-div5{
height:100px;
width:100px;
border: 1px solid black;
background-color: red;

}
.inside-div1{
    position: relative;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;

}
.inside-div2{
    position: relative;
    top:-102px;
    left:291px;
    right: 0px;
    bottom:0px;
}
.inside-div3{
    position: relative;
    top:546px;
    left:0px;
    right: 0px;
    bottom:0px;

}
.inside-div4{
    position: relative;
    top:446px;
    left:291px;
    right: 0px;
    bottom:px;

}
.inside-div5{
    position: relative;
    top:0px;
    left:145.5px;
    right: 0px;
    bottom:0px;
}